apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      tlsSkipVerify: false

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true
    jsonData:
      maxLines: 1000

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: false
    editable: true
    jsonData:
      tracesToMetrics:
        datasourceUid: prometheus
      tracesToLogs:
        datasourceUid: loki
        spanStartTimeShift: 1h
        spanEndTimeShift: -1h
        filterByTraceID: true
        filterBySpanID: true
      search:
        hide: false
      nodeGraph:
        enabled: true
      lokiSearch:
        enabled: true

deleteDatasources:
  - name: TestData DB
    orgId: 1
