.card {
  border-radius: 10px;
  border: none;
}

.card-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border-radius: 8px;
}

.bg-primary {
  border-radius: 10px;
}
